<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edit Logs{% endblock %}</title>
    <!-- 引入 Bootstrap 样式 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 引入自定义样式表 -->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <!-- 引入 CKEditor -->
<!--    {{ ckeditor.load() }}-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">日志分析系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.view_logs') }}">展示</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('routes.edit_logs') }}">编辑</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('routes.search_logs') }}">搜索</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('routes.list_assets') }}">资产表单</a>
                    </li>
                    <!-- 可以添加其他导航链接 -->
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <!-- 页脚内容 -->
        </div>
    </footer>

    <!-- 引入 Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 可以在这里添加其他JavaScript文件 -->
<!--    <script src="{{ url_for('static', filename='script.js') }}"></script>-->
</body>
</html>
